<section>
<footer>
<a href="#top">
<img src="Images/Page_Up.png">
</a>

	<div  id="footer-s">
		&copy; Kappas, Inc.
		 <a href="#">Terms</a> |
		 <a href="#">Privacy</a> |
		 <a href="#">Help</a>

	</div>
</footer>
</section>
