<section id="navbar">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  						<span class="sr-only">Toggle navigation</span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  					</button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/"> Home</a></li>
          <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- <img src="Images/account_img.png" class="profile-image img-circle"> -->
              Brands
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu col-md-3 col-sm-4">
              <li><a href="/khaadi"> Khaadi</a></li>
              <li class="divider"></li>
              <li><a href="/amiradnan"> Amir Adnan</a></li>
              <li class="divider"></li>
              <li><a href="/generation"> Generation</a></li>
              <li class="divider"></li>
              <li><a href="#"> Service</a></li>
              <li class="divider"></li>
              <li><a href="#"> Khaas</a></li>
            </ul>
          </li>
          <li><a href="/user/wish-list">WishList
              <!-- <span class="badge">{{session.list.totalQty}}</span> -->
          </a>
          </li>
          <li><a href="/contact">Contact Us</a></li>

          <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- <img src="Images/account_img.png" class="profile-image img-circle"> -->
              {{#if login}}
              <i class="fa fa-user default" aria-hidden="true"></i> {{user.email}}
              {{else}}
              <i class="fa fa-user default" aria-hidden="true"></i> User management
              {{/if}}

              <b class="caret"></b>

            </a>
            <ul class="dropdown-menu">
              {{#if login}}
                <li><a href="/user/profile"><i class="fa fa-cog"></i> User Account</a></li>
                <li class="divider"></li>
                <li><a href="/user/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
              {{else}}
                <li><a href="/user/signin"><i class="fa fa-cog"></i> Log in</a></li>
                <li class="divider"></li>
                <li><a href="/user/signup"><i class="fa fa-sign-out"></i> Sign up</a></li>
              {{/if}}

            </ul>
          </li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</section>
<!-- nav bar ends here -->
