<section>
  <!-- jumbotron starts here -->
  <div id="iconarea">
    <div>
      <div><img id="imglogo" src="Images/Kappas_Logo.png">
        <p id="heading">{{title}}</p>
      </div>
    </div>
  </div>
</section>
<!-- jumbotron ends here -->
